*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    
}

.principal{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E8EBE4;
}

.principal img{
    width: 250px;
}

.principal h2{
    padding-top: 10px;
}

.contactos{
    display: flex;
    flex-direction: column;
    flex-basis: 33%
}

.contactos .contacto{
    display: flex;
    min-height: 70px;
    border-top: solid 1px;
    border-color: #BEC1BB;
    border-right: solid 1px;
    border-color: #BEC1BB;
    padding: 10px;
    align-items: center;
}

.contactos .contacto img{
    width: 60px;
    border-radius: 30px;
    margin: 7px;
}

.contactos .contacto .info{
   margin: 7px;
}

.nuevo-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top: solid 1px;
    border-color: #BEC1BB;
    border-right: solid 1px;
    border-color: #BEC1BB;
}

.nuevo-chat button {
    height: 40px;
    background-color: #a491d2;
    color: white;
    border: none;
    width: 150px;
}

.nuevo-chat button:hover{
    background-color: #CDC3E6;
}

.nuevo-chat button:focus{
    background-color: #bec1bb;
}

.contactos nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: solid 1px;
    border-color: #BEC1BB;
}

.contactos nav img{
    width: 40px;
    border-radius: 30px;
    margin: 7px;
}

.contactos .perfil{
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-left: 10px;
}

.contactos nav .items i{
    padding: 5px;
}

.contactos nav .info p{
    color: #bec1bb;
}

