*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    
}

.principal{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d4dcff;
}

.principal img{
    width: 250px;
}

.contactos{
    padding: 30px;
    width: 300px;
}

.contactos .contacto{
    display: flex;
    min-height: 70px;
    border-color: black;
    border-top: solid 1px;
}

.contactos .contacto img{
    width: 60px;
    border-radius: 30px;
}

.contactos .contacto .info{
   padding: 10px;
}

.nuevo-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nuevo-chat button {
    height: 40px;
    background-color: #A491D2;
    color: white;
    border: none;
    width: 150px;
}

.nuevo-chat button:hover{
    background-color: #CDC3E6;
}

.nuevo-chat button:focus{
    background-color: #F7BFB6;
}
